@import "../../stylus/vars.styl"

$colors = $vars.colors

.button
    position relative
    display inline-flex
    flex-wrap nowrap
    justify-content center
    align-items center
    overflow visible
    box-sizing border-box
    max-width 100%
    outline 0
    border 0.5px solid
    background-color currentColor
    color inherit
    text-decoration none
    text-transform none
    white-space nowrap
    font inherit
    line-height 1
    cursor pointer
    transition box-shadow 200ms
    user-select none
    appearance button
    -webkit-text-fill-color #fff

    @media ( -webkit-min-device-pixel-ratio 2 )
        @supports not ( border-width 0.5px )
            &
                border-width 0

            &:before
                top -50%
                right -50%
                bottom -50%
                left -50%
                border 1px solid
                content ""
                transform scale( 0.5 )

    &:before
    &:after
        position absolute
        box-sizing border-box
        border-radius inherit
        pointer-events none

    &:before
        transition box-shadow 200ms

    &:after
        top -1px
        right -1px
        bottom -1px
        left -1px
        background-color #fff
        content ""
        opacity 0
        transition opacity 200ms

    &:disabled
    &.disabled
        opacity 0.6
        cursor not-allowed

    &.disabled
        pointer-events none

    &:not(:disabled):not(.disabled)
        &:hover:after
            opacity 0.2

        &:active:after
            background-color #000

    &:focus:before
        z-index 2
        box-shadow 0 0 0 3px
        opacity 0.5

    $size( height, padding, font )
        padding 0 padding
        min-width height
        height height
        font-size font

    &.large
        $size 48px 24px 16px

    &.normal
        $size 40px 16px 14px

    &.small
        $size 32px 8px 12px

    &.mini
        $size 24px 4px 12px

    &.block
        display block
        width 100%

    &.square
        padding 0

    &.default
        color: $colors.gray

    &.primary
        color: $colors.blue

    &.danger
        color: $colors.red

    &.success
        color: $colors.green

    &.info
        color: $colors.cyan

    &.warning
        color: $colors.amber

    &.link
        border-color transparent
        background none
        color: $colors.blue
        text-decoration underline

    &.dark
        color: $colors.black

    &.light
        color: $colors.gray-light
        -webkit-text-fill-color: $colors.black

    &.hollow
        background none
        -webkit-text-fill-color inherit

    &.borderless
        border-width 0

    &__text
        overflow hidden
        min-width 0
        text-overflow ellipsis

        &:not(:first-child)
            margin-left 8px

    &__loading
        display none
