@keyframes spin
    to
        transform rotate( 360deg )

@keyframes spin2
    80%
    100%
        transform rotate( 360deg )

@keyframes fade
    from
        opacity 0

@keyframes facebook
    0%
        transform scaleY( 2 )

@keyframes spinner-grow
    0%
        transform scale( 0 )

    50%
        opacity 1

@keyframes ripple
    0%
        transform scale( 0 )

    100%
        opacity 0

@keyframes wobblebar
    100%
        transform rotate( 360deg * 2 )

@keyframes wave
    100%
        transform translateX( 1em )

@keyframes grow
    100%
        height 0.6em
        background-color currentColor

@keyframes flow
    100%
        transform translateX( -1em )

$defaultColor = rgba( 0, 0, 0, 0.2 )

.loading
    position relative
    display inline-flex
    vertical-align middle
    line-height 1
    opacity 0.9

    &.vertical
        flex-direction column
        align-items center

        &>^[0]__text
            margin 1em 0 0

    &__text
        margin-left 1em
        font-size 0.5em

    &__icon
        display inline-flex
        justify-content center
        align-items center
        box-sizing border-box
        width 1em
        height 1em

        &>i
            box-sizing border-box

        &.facebook
            justify-content space-between

            &>i
                width 0.25em
                height 0.5em
                background-color currentColor
                animation facebook 1.2s cubic-bezier( 0, 0.5, 0.5, 1 ) infinite

                &:nth-child(1)
                    animation-delay -0.24s

                &:nth-child(2)
                    animation-delay -0.12s

        &.chrome
            &>i
                position absolute
                width 1em
                height 1em
                border 0.15em solid transparent
                border-top-color currentColor
                border-radius 50%
                animation spin 1.2s cubic-bezier( 0.5, 0, 0.5, 1 ) infinite

                &:nth-child(1)
                    border-radius 50%
                    animation-delay -0.45s

                &:nth-child(2)
                    animation-delay -0.3s

                &:nth-child(3)
                    animation-delay -0.15s

        &.ripple
            &>i
                position absolute
                width 1em
                height 1em
                border 0.15em solid currentColor
                border-radius 50%
                animation ripple 1s cubic-bezier( 0, 0.2, 0.8, 1 ) infinite

                &:nth-child(2)
                    animation-delay -0.5s

        &.hourglass
            width 0
            height 0
            border 0.5em solid
            border-color currentColor transparent
            border-radius 50%
            animation wobblebar 1s infinite

        &.huawei
            transform rotate( 45deg )

            &>i
                position absolute
                top 0.2em
                left 0.2em
                border-radius 1em
                background-color currentColor
                transform-origin 0.3em 0.3em
                animation spin2 1.5s infinite ease-in-out

                for $i in 1 .. 8
                    &:nth-child({$i})
                        width floor( 0.2em * sin( 10 + $i * ( 45 / 8 ) * 1deg ), 2 )
                        height @width
                        animation-delay -0.1s * $i

        &.wave
            justify-content flex-start
            min-height 6px
            height 0.1em
            $defaultColor = #999
            background repeating-linear-gradient( 90deg, $defaultColor, $defaultColor 15%, transparent 15%, transparent 20% )

            &:after
                // background-size 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em
                display block
                width 15%
                height 100%
                background-color $defaultColor
                content ""
                animation wave 1s infinite steps( 5, end ), grow 0.1s infinite alternate linear

        &.clock
            border 0.15em solid
            border-radius 50%

            &:before
            &:after
                position absolute
                top 50%
                left 50%
                border-radius 1em
                content ""
                transform-origin 0.02em 0.02em
                animation spin 1s linear infinite

            &:before
                width 0.2em
                border-top 0.05em solid
                animation-duration 4s

            &:after
                height 0.3em
                border-left 0.05em solid

        &.flow
            justify-content flex-start
            overflow hidden
            min-height 6px
            height 0.2em
            $defaultColor = #999
            background repeating-linear-gradient( 90deg, $defaultColor, $defaultColor 5%, transparent 5%, transparent 8% )

            &:after
                // background-size 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em
                display block
                width 100%
                height 100%
                background-color currentColor
                content ""
                animation flow 1s infinite linear

        &.spiner1
        &.spiner2
            border 0.15em solid $defaultColor
            border-radius 50%
            animation spin 1s linear infinite

        &.spiner1
            border-top-color currentColor

        &.spiner2
            border-top-color transparent

        &.spiner3
            border-radius 50%
            background-color currentColor
            opacity 0
            animation spinner-grow 0.75s linear infinite

        &.spiner4
            border-top 0.1em solid $defaultColor
            border-right 0.1em solid $defaultColor
            border-radius 50%
