.stepper
    display inline-flex
    border 0.5px solid red
    border-radius 4px

    &__value
        flex 1
        outline 0
        border 0
        background none
        appearance none

        &::-webkit-outer-spin-button
        &::-webkit-inner-spin-button
            margin 0
            -webkit-appearance none

        &[type=number]
            -moz-appearance textfield

        for $item in left right center
            &.{$item}
                text-align $item
