.tab
    &__header
        position relative
        display flex

    &__name
        padding 8px
        cursor pointer

    &__indicator
        position absolute
        bottom 0
        left 0
        width 20px
        height 2px
        background-color red
