$direction( px )
    &-left
        border-top-left-radius px
        border-bottom-left-radius px

    &-right
        border-top-right-radius px
        border-bottom-right-radius px

    &-top
        border-top-left-radius px
        border-top-right-radius px

    &-bottom
        border-bottom-right-radius px
        border-bottom-left-radius px

    &-oppo-1
        border-top-right-radius px
        border-bottom-left-radius px

    &-oppo-2
        border-top-left-radius px
        border-bottom-right-radius px

.rounded
    for $key, $item in $vars.spacing
        &--{$key}
            $value = ( $item / 2 )
            border-radius $value
            $direction $value

            &.hairline:before
                border-radius $item

    &--pill
        border-radius 999px
        $direction 999px

    &--circle
        border-radius 50%
        $direction 50%

.border
    border 0.5px solid

    &--dotted
        border-style dotted

    &--groove
        border-style groove

    $borderdirection( dir )
        border-{dir} 1px solid

    &-left
        $borderdirection left

    &-right
        $borderdirection right

    &-top
        $borderdirection top

    &-bottom
        $borderdirection bottom

    &-x
        $borderdirection top
        $borderdirection bottom

    &-y
        $borderdirection left
        $borderdirection right
