$vars = json( "../../json/vars.json", { hash: true } )
$spacing = $vars.spacing
$breakpoint = $vars.breakpoint
$columns = $vars.columns
$keys = keys( $breakpoint )
p( $keys[index( $keys, md )] )

/*
// 容器控制
.grid
  display flex
  display grid

  &.column
    grid-auto-flow column

for $key in 1 .. 24
  .grid--{$key}
    grid-template-columns repeat( $key, 1fr )

  .col--{$key}
    grid-column span $key

for $key, $value in $spacing
  .gap--{$key}
    gap $value

  .pa--{$key}
    padding $value

  .ma--{$key}
    margin $value

for $row, $rowValue in $spacing
  for $col, $colValue in $spacing
    .gap--{$row}-{$col}
      gap $rowValue $colValue

    .pa--{$row}-{$col}
      padding $rowValue $colValue

    .ma--{$row}-{$col}
      margin $rowValue $colValue

// 项目控制
for $key, $value in $breakpoint
  @media ( min-width $value )
    body:after
      display none
      content $key

.cell
  background-color red

  &.square:before
    display inline-flex
    padding-bottom 100%
    width 0
    content ""
 */
.round--
  $new = merge( $spacing, { pill: 1998px, circle: 100% } )

  for $name, $size in $new
    &{$name}
      border-radius: ( $size / 2 )

.select--
  for $prop in all auto none
    &{$prop}
      user-select $prop

.pointer--none
  pointer-events none

.pointer--auto
  pointer-events auto

.overflow--
  for $prop in auto hidden visible scroll
    &{$prop}
      overflow $prop

for $prop in absolute fixed relative static sticky
  .{$prop}
    position $prop

for $prop in left right top bottom
  for $value in 0 50 100
    .{$prop}--{$value}
      {$prop}: $value + "%"

for $prop in left right top bottom
  for $value in 0 50 100
    .{$prop}--{$value}
      {$prop}: $value + "%"

.middle--
  &x
    transform translate( -50%, 0 )

  &y
    transform translate( 0, -50% )

  &xy
    transform translate( -50%, -50% )
