.async
    // width 100vw
    // height 100vh
    &__abnormal
        display flex
        flex-direction column
        flex-wrap wrap
        justify-content space-around
        align-content center
        min-width inherit
        min-height inherit
        color #777
        text-align center

    &__reason
        margin-top 16px
