.fab
    position fixed
    right 16px
    bottom 16px
    filter url( "#goo" )
    -webkit-filter url( "#goo" )

    &__filter
        display none

    &__body
        position absolute
        display inline-flex
        justify-content flex-end
        width 0

        &.horizontal
            right 100%
            bottom 0
            align-items center
            height 100%

        &.vertical
            bottom 100%
            left 0
            flex-direction column
            flex-wrap wrap
            align-items center
            width 100%

    &__item
        transition margin-right 1000ms

    &.active
        &__body
            width 100vw

        &__item
            margin-right 8px
